[submodule "part10/rate-repository-app"]
	path = part10/rate-repository-app
	url = https://github.com/phoopies/mooc-fullstack-part10-react-native
[submodule "part3"]
	path = part3
	url = https://github.com/phoopies/mooc_fullstackopen_backend_p3
[submodule "part10/rate-repository-api"]
	path = part10/rate-repository-api
	url = https://github.com/fullstack-hy2020/rate-repository-api
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/phoopies/full-stack-open-pokedex
